{{#partial "contenido"}}
    <meta charset="UTF-8">

    <div style="margin-top:2%" class="card col l4 m6 s12  offset-l4 offset-m3  visualizar-cuentas-styles">
      <form style="margin-bottom:20px;" action="/evaluacionMetodologia/" class="col s12" method="post">
          <div style="margin-top:10px;" class="form-group">
              <select>
                 <option value="" disabled selected>Seleccione la metodología</option>
                 {{#each metodologias}}
                    <option value = "{{this}}">{{this.nombre}}</option>
                 {{/each}}
              </select>
          </div>
          <button onclick="mostrarHashmap()" type="submit" style="margin-left:31%" class="blue btn btn-default">Evaluar</button>
      </form>
    </div>
    <div style="padding:0" class="visualizar-cuentas-styles hidden col s8 offset-s2 card">
        <table class="tabla table striped no-marg">
          <thead>
            <tr>
              {{#each headerTabla}}
                 <th>{{this}}</th>
              {{/each}}
            </tr>
          </thead>
        </table>
    </div>

    <script type="text/javascript">
          $(document).ready(function() {
              $('select').material_select();
              $(".select-dropdown").attr("name","selected");
          });
          $(".tabla").remove("tbody");
          var emp = "{{#each resultados}}{{#each this}}{{this.nombre}}&{{/each}};{{/each}}".split(";").slice(0,-1);
          var matrizRdos = [];
          var maxLength = 0;
          var filas = "<tbody>";
          for(var i in emp) {
              emp[i] = emp[i].split("&").slice(0,-1);
              if(maxLength < emp[i].length){
                maxLength = emp[i].length;
              }
          }
          //completo con ""
          for(var j in emp){
              var length = emp[j].length;
              var diff = maxLength - length;
              for(var h = 0; h<diff; h++){
                emp[j].push("");
              }
          }
          //genero matriz transpuesta
          for(var i = 0; i<maxLength; i++){
              var aux = [];
              for(var j = 0; j < emp.length; j++){
                  aux.push(emp[j][i]);
              }
              matrizRdos.push(aux);
          }
          //pusheo html
          for(var i in matrizRdos){
              filas = filas + "<tr>";
              for(var j in matrizRdos[i]){
                  filas =filas +  "<td>" + matrizRdos[i][j] + "</td>";
              }
              filas = filas + "</tr>";
          }
          filas = filas + "</tbody>";
          $(".tabla").append(filas);
          if(matrizRdos.length){
            $(".hidden").removeClass("hidden");
          }
          Materialize.toast("{{message}}",3000,"red");
    </script>
{{/partial}}

{{>index.hbs}}
