<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dónde invierto</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Librerias/js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  </head>

  <body>
      <nav class="nav-bar" >
        <div class="nav-wrapper">
          <span style="white-space: nowrap;overflow: hidden;width: 40%;text-overflow: ellipsis;" class="brand-logo center">{{titulo}}</span>
          <span class="nav-usuario">{{usuario}} <a title="{{salirTitulo}}" href="/"><i class="material-icons">{{exit}}</i></a> </span>
          <a  style="display:block;" href="#" data-activates="slide-out" class="button-collapse sidebarBtn"><i class="material-icons">{{menu}}</i></a>
        </div>
      </nav>

      <div class="row app-body col s12">
          {{#block "contenido"}}
          {{/block}}
      </div>

      <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
          <div class="background">
            <img src="/img/backgroundSidebar.jpg">
          </div>
          <a href="#!user"><img class="circle" src="/img/username.png"></a>
          <a href="#!name"><span class="white-text name">{{usuario}}</span></a>
        </div></li>
        <li><a href="/menuPrincipal/"><i class="material-icons">home</i>Menu Principal</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Secciones</a></li>
        <li><a class="waves-effect" href="/visualizarCuentas/"><i class="material-icons">account_balance</i>Visualización de Cuentas</a></li>
        <li><a class="waves-effect" href="/creacionCondicion/"><i class="material-icons">call_split</i>Creación de Condición</a></li>
        <li><a class="waves-effect" href="/creacionIndicador/"><i class="material-icons">business</i>Creación de Indicadores</a></li>
        <li><a class="waves-effect" href="/evaluacionIndicador/"><i class="material-icons">multiline_chart</i>Evaluación de Indicadores</a></li>
        <li><a class="waves-effect" href="/crearMetodologia/"><i class="material-icons">loop</i>Creación de Metodologías</a></li>
        <li><a class="waves-effect" href="/evaluacionMetodologia/"><i class="material-icons">group_work</i>Evaluación de Metodologías</a></li>
      </ul>

  </body>
  <script type="text/javascript">
    $(".button-collapse").sideNav();
  </script>
</html>
